@tailwind base;
@tailwind components;
@tailwind utilities;

.text-hero {
  font-size: clamp(70px, 6vw, 100px);
}

.linear-foreground {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2)
  );
}

* {
  scroll-behavior: smooth;
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
