@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-foreground {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2)
  );
}

.linear-foreground1 {
  background: linear-gradient(
    67.19deg,
    #0b0b0b 1.53%,
    rgba(0, 0, 0, 0.9) 12.77%,
    rgba(11, 11, 11, 0.91) 28.83%,
    rgba(11, 11, 11, 0.3) 40.55%,
    rgba(81, 81, 81, 0.2) 53.42%,
    rgba(81, 81, 81, 0.1) 79.89%
  );
}

.linear-foreground2 {
  background: linear-gradient(
    68.49deg,
    #0b0b0b 1.45%,
    rgba(0, 0, 0, 0.9) 12.65%,
    rgba(11, 11, 11, 0.91) 18.52%,
    rgba(11, 11, 11, 0.3) 36.96%,
    rgba(81, 81, 81, 0.2) 53.17%,
    rgba(81, 81, 81, 0.1) 79.56%
  );
}

.linear-foreground3 {
  background: linear-gradient(
    77.75deg,
    #0b0b0b 5.46%,
    rgba(0, 0, 0, 0.89) 15.24%,
    #000000 28.24%,
    rgba(11, 11, 11, 0.86) 40.59%,
    rgba(11, 11, 11, 0.26) 56.36%,
    rgba(81, 81, 81, 0.2) 83.5%,
    rgba(81, 81, 81, 0.1) 87.09%,
    rgba(81, 81, 81, 0) 96.96%
  );
}

* {
  scroll-behavior: smooth;
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.text-hero {
  font-size: clamp(60px, 8vw, 120px);
  line-height: clamp(60px, 8vw, 120px);
}

.swiper-slide {
}

.swiper {
  @apply h-full;
}

.rc-slider {
  @apply !h-6;
}

.rc-slider-mark {
  @apply font-semibold mt-1;
}

.rc-slider-mark-text {
  @apply first:!translate-x-[0] first:-ml-1 last:!translate-x-[-100%] last:sm:ml-2 w-5 sm:w-auto last:sm:w-16;
}

.rc-slider-rail {
  @apply !h-2;
}

.rc-slider-dot {
  @apply !h-3 !w-3 !translate-y-[35%] !translate-x-[-50%];
}

.rc-slider-track {
  @apply !h-2 !bg-orange;
}

.rc-slider-handle {
  @apply !h-6 !w-6 !opacity-100 !border-orange active:!shadow-none !translate-y-[-15%] !translate-x-[-50%];
}

.rc-slider-dot-active {
  @apply !border-orange;
}
